/* CSS BY RAFLIPEDIA INDONESIA */


@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Teko:300,400,500");
*,*:before,*:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body {
	background:#000;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	margin:0;
}
.footer {
	background-color:#fff;
	height:auto;
	width:100%;
	border:4px;
	border-top:1px solid #6cf;
	color:#6cf;
	padding:10px;
	position:fixed;
	bottom:0;
	overflow:hidden;
	z-index: 1;
}
.footer h4 {
    font-family: 'Teko';
	font-weight: 300;
	letter-spacing: 1px;
}

.box {
	display:block;
	position:relative;
	width:50%;
	background:#fff;
	margin:10% auto;
	padding:10px;
	border:1px solid #6cf;
	border-radius:5px;
}
.tombol {
	background:#6cf;
	position:relative;
	width:49%;
	height:40px;
	color:#fff;
	padding:8px;
	border:1px solid #6cf;
	border-radius:3px;
	font-size:1.2em;
	font-weight:300;
	text-align:center;
	letter-spacing:1px;
	outline:none;
	font-family:'Teko';
}
.tombol:hover {
	background:#000;
	position:relative;
	width:49%;
	height:40px;
	color:#fff;
	padding:8px;
	border:1px solid #6cf;
	font-size:1.2em;
	font-weight:300;
	text-align:center;
	letter-spacing:1px;
	outline:none;
	font-family:'Teko';
}

.garis-tengah {
	display:block;
	margin-left:5%;
	margin-right:5%;
	margin-top:-8px;
	overflow:hidden;
	text-align:center;
	white-space:nowrap;
	width:90%;
}
.garis-tengah>span {
	display:inline-block;
	position:relative;
	color:#fff;
	cursor:default;
	font-size:2.5em;
	font-family:'Teko';
	text-shadow:1px 2px 1px #6cf;
	font-weight:300;
}
.garis-tengah>span1 {
	display:inline-block;
	position:relative;
	color:#ff0;
	cursor:default;
	font-size:2.5em;
	font-family:'Teko';
	text-shadow:1px 2px 1px #ff0;
	font-weight:300;
	letter-spacing:1px;
}
.garis-tengah>span:before,.garis-tengah>span:after {
	background:#6cf;
	content:"";
	height:1px;
	position:absolute;
	top:50%;
	width:9999px;
	margin:0;
}
.garis-tengah>span:before {
	margin-right:15px;
	right:100%;
}
.garis-tengah>span:after {
	left:100%;
	margin-left: 15px;
}

#pelajaran {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	visibility:hidden;
	background-color:rgba(255,255,255,0.7);
	overflow:scroll;
}
#pelajaran:target {
	visibility:visible;
}
#piket {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	visibility:hidden;
	background-color:rgba(255,255,255,0.7);
	overflow:scroll;
}
#piket:target {
	visibility:visible;
}
#absen {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	visibility:hidden;
	background-color:rgba(255,255,255,0.7);
	overflow:scroll;
}
#absen:target {
	visibility:visible;
}
.box-popup {
	background:#fff;
	border:1px solid #6cf;
	border-radius:5px;
	width:50%;
	height:auto;
	position:relative;
	padding:5px;
	text-align:center;
	margin:15% auto;
}
.close {
	width:20px;
	height:20px;
	background:#fff;
	border-radius:;
	border:1px solid #6cf;
	border-radius:50%;
	display:block;
	text-align:center;
	color:#6cf;
	text-decoration:none;
	position:absolute;
	top:-10px;
	right:-10px;
}
.scroll {
	overflow:scroll;
	height:500px;
	scrollbar-face-color:#CE7E00;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-highlight-color:#6F4709;
	scrollbar-3dlight-color:#11111;
	scrollbar-darkshadow-color:#6F4709;
	scrollbar-track-color:#FFE8C1;
	scrollbar-arrow-color: #6F4709;
}


 
 
table {
width: 300;
border: 1;
border-collapse: collapse;
border-color: #6cf;
font-family:'Teko';
}

hr.garis {
	width:100%;
	border:1px solid #6cf;
}
h4 {
	font-family:'Teko';
	font-weight:300;
	font-size:1.8em;
	margin:0;
	color:#6cf;
}
h4.berhasil {
	font-family:'Teko';
	font-weight:300;
	font-size:1.6em;
	margin:0;
	color:#6cf;
}
.waktu {
	border:1px solid #6cf;
	border-radius:2px;
	width:30%;
	height:auto;
	font-family:'Teko';
	font-weight:300;
	font-size:15px;
	color: #6cf;
}


.loading {
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:9999;
	background: url("../img/icon.png") center no-repeat #f3f3f3;
}


/* elemen versi hp */
@media only screen and (max-width:500px) {
table {
width: 300;
border: 1;
border-collapse: collapse;
border-color: #6cf;
font-family:'Teko';
}
.box {
		width:95%;
		display:block;
		zoom:1;
	}
	.footer {
		zoom:0.4;
	}
	.box-popup {
		width:90%;
		height: auto;
	}
}
